.summary{
    position: absolute;
    z-index: 1000;
    right: calc(50% - 270px);
    top: 120px;
    border-radius: 8px;
    background: white;
    width: 540px;;
    padding: 48px;
}
.summaryTitles{
    display: flex;
    align-items:center;
    justify-content: center;
    background:rgb(216, 125, 74);
    color: white;
    border-radius:50%;
    width: 64px;
    height: 64px;
}
.summaryTitles{
    font-size: 24px;
}
.orderTitle{
    max-width: 284px;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.14px;
    margin-top: 33px;
    text-align: left;
    text-transform: uppercase;
}
.orderText{
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    margin-top: 24px;
    text-align: left;
}
.orders{
    position: relative;
    width: 100%;
    border-radius: 8px;
    background: rgb(241, 241, 241);
    margin-top: 33px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.orderGrey{
    /* Group 18 */
    width: calc(100%-222px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 24px;
}
.orderGreyText{
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.21px;
    text-align: center;
    margin-left: 20px;
}
.orderBlack{
    position: absolute;
    right: 0;
    width: 198px;
    height: 100%;
    padding-left: 32px;
    padding-top: 41px;
    padding-bottom: 41px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 0, 0);
}
.orderBlackTitle{
    opacity: 0.5;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.orderBlackText{
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}



.summaryItems{
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.ItemsPrimary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summaryImage{
    padding: 13px;
    border-radius: 8px;
    background: rgb(241, 241, 241);
    width: 64px;
    height: 64px;
}
.summaryImage img{
    width: 36.19px;
    height: 40px;
}
.summaryDesc{
    display: flex;
    flex-flow: column;
    align-items: start;
}
.ItemTitle{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.ItemText{
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.ItemAmount{
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
}
.summaryPrices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.summaryPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 32px;
}
.summaryPrice .PriceTitle{
    color: rgb(0, 0, 0);
}
.PriceText{
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}
.PriceTitle{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
    text-transform: uppercase;
}
.summaryButton{
    width: 100%;
    border: none;
    padding: 15px 60px;
    background: rgb(216, 125, 74);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 46px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}
.summaryButton:hover{
    background: rgb(251, 175, 133);
}
